<section class="grid-container">
  <div *ngFor="let movie of movies" class="movie-card">
    <div class="movie-info">
      <div class="movie-title">{{ movie.title }}</div>
      <div class="movie-release">{{ movie.release_date }}</div>
      <div class="movie-votes">Votos: {{ movie.vote_count }}</div>
      <div><a routerLink="/movies/{{ id }}">Detalhes</a></div>
    </div>
    <div>
      <img
        class="movie-poster"
        src="{{ BASE_URL_IMAGE + movie.poster_path }}"
        alt=""
      />
    </div>
  </div>
</section>
